@import '../../../../assets/config';

app-sidebar-left {

  min-height: 100%;
  height: auto;
  min-width: 320px;
  background-color: @siteBg;
  margin-right: 5px;

  .side-nav-holder {
    border-right: 1px solid @stdBorder;
  }

  md-content {
    background-color: transparent;
  }

  md-toolbar {
    background-color: @childInkHover !important;
  }

  md-list {
    margin: 10px;
    background-color: transparent;

    a {
      color: @navLink;
      cursor: pointer;
      &:link {
        text-decoration: none;
      }
      &:hover {
        color: @navHover;
        transition: background-color 0.33s ease-in-out;
      }
    }

    a.active {
      color: @navActive;
    }
  }

  md-list-item {
    margin-bottom: 10px;
    padding: 0 8px !important;
  }

  md-list.sub-md-list {

    md-list-item {
      margin-bottom: 0;
      margin-left: 25px;
      padding-top: 0;
      padding-bottom: 0;
      a {
        padding-left: 5px;
        margin: 0;
      }
      p {
        margin: 0;
      }
      &:hover {
        background-color: rgba(0,0,0,0.125);
      }
    }
  }
}
