<md-toolbar hide-xs hide-gt-xs show-gt-lg>

    <div class="md-toolbar-tools">

        <a ui-sref="app.home">
            <h3 flex ng-bind="$ctrl.appTitle"></h3>
        </a>

        <md-button hide class="md-icon-button" ng-click="$ctrl.root.toggle('sidenav')" aria-label="Close Left Nav">
            <i class="far fa-times-circle fs-20"></i>
        </md-button>

    </div>

</md-toolbar>

<md-content flex class="side-nav-holder">

    <md-list>

        <md-list-item ng-repeat="parent in $ctrl.states" aria-label="{{ parent.label }}">

            <a ng-if="!parent.states" ui-sref="{{ parent.state }}" flex layout="row" layout-align="start center">

                <span flex="15">
                    <i ng-if="parent.icon" class="fa" ng-class="parent.icon"></i>
                </span>

                <p flex>{{ parent.label }}</p>

            </a>

            <div ng-if="parent.states" flex layout="column" ng-init="showSub = false">

                <a ng-href="" flex layout="row" layout-align="start center" ng-click="showSub = !showSub">

                    <span flex="15" ng-if="parent.icon">
                        <i class="fa" ng-class="parent.icon"></i>
                    </span>

                    <p flex>{{ parent.label }}</p>

                    <!--@todo move to component-->
                    <span ng-if="showSub"><i class="fas fa-minus"></i></span>
                    <span ng-if="!showSub"><i class="fas fa-plus"></i></span>

                </a>

                <md-list ng-show="showSub" class="sub-md-list" flex>

                    <md-list-item ng-repeat="state in parent.states">

                        <a ui-sref="{{ state.state }}" flex ng-bind="state.label"></a>

                    </md-list-item>

                </md-list>

            </div>

        </md-list-item>

    </md-list>

</md-content>

<app-footer layout="row" layout-align="start center" class="md-body-1 side-nav-holder"></app-footer>
