@import '../../../../assets/config';

@linkColor: #000;
@borderColor: rgba(0,0,0,0.12);

app-header {

  color: @linkColor !important;

  h3 {
    min-width: 150px;
  }

  md-toolbar {
    min-height: 48px;
    max-height: 48px;
    background-color: @childInkHover !important;
  }

  md-nav-bar .md-nav-bar {
    border-bottom: none;
  }

}
