<md-toolbar>

    <div class="md-toolbar-tools" flex>

        <md-button ng-show="!$ctrl.root.biggerThan()" class="md-icon-button md-accent" aria-label="Menu" ng-click="$ctrl.root.toggle('sidenav')">
            <i class="fas fa-bars"></i>
        </md-button>

        <a ui-sref="app.home">
            <h3 flex ng-bind="$ctrl.appTitle"></h3>
        </a>

        <span flex></span>

        <div layout="row" layout-align="end center">
            <md-button class="md-icon-button md-accent" aria-label="User">
                <i class="far fa-user"></i>
            </md-button>
        </div>

    </div>

</md-toolbar>
