@import '../../../../assets/config';

nav-bar {

  //background-color: @childInkHover;
  min-height: 48px;
  max-height: 48px;

  h3 {
    min-width: 225px;
    margin: 0;
    color: transparent;
  }

}
