<md-content ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]" layout="column" layout-gt-sm="row" flex>

    <md-card flex>

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Card</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <p>Size gt-md : {{ $ctrl.root.biggerThan('gt-md') }}</p>
            <p>Size gt-lg : {{ $ctrl.root.biggerThan('gt-lg') }}</p>
            <p>Size gt-xl : {{ $ctrl.root.biggerThan('gt-xl') }}</p>
        </md-card-content>

    </md-card>

    <md-card ng-repeat="c in [1,2,3]" flex>

        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Card</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias aut dolore, ducimus, eius et expedita explicabo fugit, magni neque placeat quam reprehenderit repudiandae similique sit suscipit veritatis voluptas voluptate.</p>
        </md-card-content>

    </md-card>

</md-content>
