@siteBg: rgb(250, 250, 250);
@stdBorder: rgba(0,0,0,0.12);

@navLink: rgba(0, 0, 0, .66);
@navHoverBG: rgb(180, 180, 180);
@navHover: rgb(50, 50, 50);
@navActive: @navHover;

@parentInk: rgb(255, 255, 255);
@parentInkHover: rgb(255, 254, 56);

@childInk: rgba(0, 0, 0, .33);
@childInkHover: rgba(0, 0, 0, .66);
