//@import './font-awesome/fontawesome';
@import './config';

[ng-cloak] {
  display: none;
}

.mg-right-20 {
  margin-right: 20px;
}

.content-holder {
  margin-left: 15px;
  padding-top: 0;
}

.hint {
  color: @navHoverBG;
  font-size: 12px;
  padding-top: 5px;
}

.fs-20 {
  font-size: 20px;
}
