@import '../../../assets/config';

.page-title {
  margin: 0 !important;
  padding: 15px 5% 5px 5%;
}

.main-container {

  //border-left: 1px solid @stdBorder;

  div {
    &:first-of-type {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

}

.transparent {
  background-color: transparent !important;
}

.md-sidenav-left {
  min-width: 320px;
}
