<app-header layout="column"></app-header>

<md-content class="md-body-1" layout="row" layout-align="start stretch" flex>

    <md-sidenav class="md-sidenav-left"
                md-component-id="sidenav"
                md-is-locked-open="$mdMedia('gt-md')"
                md-whiteframe="{{ $ctrl.biggerThan() ? -1 : 4 }}">

        <app-sidebar-left layout="column" layout-align="start stretch"></app-sidebar-left>

    </md-sidenav>

    <md-content layout="column">

        <h2 ng-if="$ctrl.pageTitle" class="md-headline page-title" ng-bind="$ctrl.pageTitle"></h2>

        <md-content layout="row" class="main-container">

            <md-content
                    flex-offset-gt-lg="{{ $ctrl.flex.gtLgOff }}"
                    flex-gt-lg="{{ $ctrl.flex.gtLg }}"
                    flex="90"
                    flex-offset="5"
                    ui-view
                    ng-cloak>
            </md-content>

        </md-content>

    </md-content>



</md-content>
